<html>
<head>
</head>
<body> 
    <h1>Submitted Information</h1>
        <table>
            <tr>
                <tcd><label>Name: <%=data.name%></label></td>
            </tr>
            <tr>
                <td><label>Dojo Location: <%+data.location%></label></td>
            </tr>
            <tr>
                <td><label>Favorite Language: <%=data.language%></label></td>
            </tr>
            <tr>
                <td><label>Comment: <%=data.comment%></label></td>
            </tr>
            <tr>
                <td><a href='/'><input type='submit' id='submit' value='Go Back' class='buttons'></a></td>
            </tr>
        </table>
</body>
</html>